<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Free BinaryNews Template For sNews</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<div class="content">
    <div th:insert="/preheader"></div>
    <div th:insert="/header"></div>
    <div th:insert="/menu"></div>
    <div class="main_content" th:style="'background-image: url(/images/bg.jpg)'">
        <div class="sd_right">
            <div th:insert="/text_padding_right"></div>
        </div>
        <div class="sd_left">
            <div class="text_padding">
                <div class="text_padding">
                    <h1>Comments</h1>
                    <span th:text="${user_name}"></span><br/><br/>
                    <div th:each="comments:${commentsList.page}">
                        <span th:text="${comments.content}"></span><br/>
                        <span><img th:src="@{/images/timeicon.gif}" alt="" th:text="${#dates.format(comments.timepost, 'HH:mm dd-MM-yyyy')}"/></span><br/>
                    </div>
                </div>
                <br/>
                <nav aria-label="Page navigation" class="paging">
                    <ul class="pagination" th:if="${commentsList.page.totalPages > 1}">
                        <li class="page-item" th:classappend="${!commentsList.paging.isPrevEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'/' +${newsid}+'/comment'+ '/?pageNumber=' + ${commentsList.paging.pageNumber - 1}}"
                               tabindex="-1">Previous</a>
                        </li>
                        <th:block th:each="item : ${commentsList.paging.getItems()}">
                            <li class="page-item"
                                th:classappend="${item.index == commentsList.paging.pageNumber? 'active' : ''}"
                                th:if="${item.pageItemType.name() == 'PAGE'}">
                                <a class="page-link" th:href="@{'/' +${newsid}+'/comment' + '/?pageNumber=' + ${item.index}}"
                                   th:text="${item.index}"></a>
                            </li>
                            <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                <a class="page-link" href="#">...</a>
                            </li>
                        </th:block>
                        <li class="page-item" th:classappend="${!commentsList.paging.isNextEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'/' + ${newsid} +'/comment' + '/?pageNumber=' + ${commentsList.paging.pageNumber + 1}}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div th:insert="/footer"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.1/cjs/popper.min.js"
        integrity="sha256-T3bYsIPyOLpEfeZOX4M7J59ZoDMzuYFUsPiSN3Xcc2M=" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>
</html>
