<h1>MainNews</h1>
<div th:each="news:${newsList.page}">
    <a th:href="@{'/news-' + ${news.id}}" style="text-decoration: none;color: black;"><h2
            th:text="${news.title}" style="margin-bottom: unset;"></h2></a>
    <span th:text="${news.content}">Content</span>
</div>
<br/>
<nav aria-label="Page navigation" class="paging">
    <ul class="pagination" th:if="${newsList.page.totalPages > 1}">
        <li class="page-item" th:classappend="${!newsList.paging.isPrevEnabled()? 'disabled' : ''}">
            <a class="page-link" th:href="@{'/?pageNumber=' + ${newsList.paging.pageNumber - 1}}"
               tabindex="-1">Previous</a>
        </li>
        <th:block th:each="item : ${newsList.paging.getItems()}">
            <li class="page-item"
                th:classappend="${item.index == newsList.paging.pageNumber? 'active' : ''}"
                th:if="${item.pageItemType.name() == 'PAGE'}">
                <a class="page-link" th:href="@{'/?pageNumber=' + ${item.index}}"
                   th:text="${item.index}"></a>
            </li>
            <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                <a class="page-link" href="#">...</a>
            </li>
        </th:block>
        <li class="page-item" th:classappend="${!newsList.paging.isNextEnabled()? 'disabled' : ''}">
            <a class="page-link"
               th:href="@{'/?pageNumber=' + ${newsList.paging.pageNumber + 1}}">Next</a>
        </li>
    </ul>
</nav>