<div class="preheader" th:style="'background-image: url(/images/preheader.jpg)'">

    <div class="padding">
        <div th:if="${session.user_name}">
            Hello <span th:text="${session.user_name}"></span>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="logout">
            </form>
<!--           | <a th:href="@{/logout}">Sign out</a>-->
        </div>
        <div th:unless="${session.user_name}">
            <a th:href="@{/login}">Sign in</a>
        </div>


    </div>
</div>