<div class="text_padding">
    <h2>BinaryNews</h2>
    sit amet consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi
    tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo.
    Donec mattis, purus nec placerat bibendum, dui pede condimentum odio. <br/>
    <h2>Search</h2>
    <form th:action="@{/search}" method="get">
        <p>
            Filter:
            <input type="text" name="keyword" id="keyword" class="search" style="size: 5px" th:value="${keyword}" required />
            &nbsp;
            <input type="submit" value="Search" />
        </p>
    </form>
</div>