<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Free BinaryNews Template For sNews</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="content">
    <div th:insert="/preheader"></div>
    <div th:insert="/header"></div>
    <div th:insert="/menu"></div>
    <div class="main_content" th:style="'background-image: url(/images/bg.jpg)'">
        <div class="sd_right">
            <div th:insert="/text_padding_right"></div>
        </div>
        <div class="sd_left">
            <div class="text_padding">
                <h1>User List</h1>
                <a th:href="@{/new}">Create New User</a>
                <br/>
                <table border="1">
                    <thead>
                    <tr>
                        <th>User ID</th>
                        <th>User Name</th>
                        <th>Brand</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${usersList}">
                        <td th:text="${user.id}">Product ID</td>
                        <td th:text="${user.user_name}">Name</td>
                        <td>
                            <a th:href="@{'/edit/' + ${user.id}}">Edit</a>
                            &nbsp;
                            <a th:href="@{'/delete/' + ${user.id}}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:insert="/footer"></div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>